{% extends "base.html" %}
{% load static %}
{% block title %}
    صفحه ورود
{% endblock title %}
{% block content %}
    <div class="flex min-h-full bg-white">
        <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
            <div class="mx-auto w-full max-w-sm lg:w-96">
                <div>
                    <img class="h-10 w-auto"
                         width=""
                         height=""
                         src="https://tailwindui.com/img/logos/mark.svg?color=amber&shade=900"
                         alt="CafQaf">
                    <h2 class="mt-8 text-2xl font-bold leading-9 tracking-tight text-gray-900">
                        وارد شدن به حساب
                        کاربری
                    </h2>
                    <p class="mt-2 text-sm leading-6 text-gray-500">
                        عضو نیستید؟
                        <a href="{% url 'signup' %}"
                           class="font-semibold text-coffee hover:text-coffee-light">ثبت نام</a>
                    </p>
                </div>
                <div class="mt-10">
                    <div>
                        <form method="post" action="{% url 'login' %}" class="space-y-6">
                            {% csrf_token %}
                            <div>
                                <label for="username"
                                       class="block text-sm font-medium leading-6 text-gray-900">
                                    نام
                                    کاربری
                                </label>
                                <div class="mt-2">
                                    <input name="username"
                                           type="text"
                                           required
                                           class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-coffee sm:text-sm sm:leading-6">
                                </div>
                            </div>
                            <div>
                                <label for="password"
                                       class="block text-sm font-medium leading-6 text-gray-900">رمز عبور</label>
                                <div class="mt-2">
                                    <input id="password"
                                           name="password"
                                           type="password"
                                           autocomplete="current-password"
                                           required
                                           class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-coffee sm:text-sm sm:leading-6">
                                </div>
                            </div>
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <input id="remember-me"
                                           name="remember-me"
                                           type="checkbox"
                                           class="h-4 w-4 rounded border-gray-300 text-coffee focus:ring-coffee">
                                    <label for="remember-me" class="mr-3 block text-sm leading-6 text-gray-700">مرا به خاطر بسپار</label>
                                </div>
                                <div class="text-sm leading-6">
                                    <a href="#" class="font-semibold text-coffee hover:text-coffee-light">رمز عبور را فراموش کرده اید؟</a>
                                </div>
                            </div>
                            <div>
                                <button type="submit"
                                        class="flex w-full justify-center rounded-md bg-coffee px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-coffee-light focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-coffee-light">
                                    ورود
                                </button>
                            </div>
                            <div>
                                {% if error %}<p class="text-red-500 text-xs">{{ error }}</p>{% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative hidden w-0 flex-1 lg:block">
            <img class="absolute inset-0 h-full w-full object-cover"
                 width=""
                 height=""
                 src="{% static 'img/coffee.jpg' %}"
                 alt="">
        </div>
    </div>
{% endblock content %}
