<li class="col-span-1 flex rounded-md shadow-sm">
  <div class="flex w-4 flex-shrink-0 items-center justify-center bg-coffee rounded-r-md text-sm font-medium text-white">
  </div>
  <div class="flex flex-1 items-center justify-between rounded-l-md border-b border-l border-t border-gray-200 bg-white">
    <div class="flex-1 truncate px-4 py-2 text-sm">
      <a href="{% url 'product_management' category_id=category.id %}"
         class="font-medium text-gray-900 hover:text-gray-600">{{ category.name }}</a>
      <p class="text-gray-500">{{ category.get_number_of_products }} آیتم</p>
    </div>
    <div class="flex-shrink-0 pl-2">
      <div x-data="{ open: false }"
           @click.away="open = false"
           class="relative inline-block text-left">
        <div>
          <button type="button"
                  class="flex items-center rounded-full text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-coffee-light focus:ring-offset-2 focus:ring-offset-gray-100"
                  id="menu-button"
                  x-ref="button"
                  @click="open = !open">
                <i class="flex bi bi-three-dots-vertical"></i> 
          </button>
        </div>
        <div x-show="open"
             x-transition:enter="transition ease-out duration-100"
             x-transition:enter-start="transform opacity-0 scale-95"
             x-transition:enter-end="transform opacity-100 scale-100"
             x-transition:leave="transition ease-in duration-75"
             x-transition:leave-start="transform opacity-100 scale-100"
             x-transition:leave-end="transform opacity-0 scale-95"
             class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
          <div class="py-1" role="none">
            <a href="{% url 'change_category' category_id=category.id %}"
               class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100">تغییر</a>
            <a href="{% url 'delete_category' category.id %}"
               class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100">حذف</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
