<div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle">
            <table class="min-w-full border-separate border-spacing-0">
                <thead>
                    <tr>
                        <th scope="col"
                            class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-right text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">
                            کاربر
                        </th>
                        <th scope="col"
                            class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-right text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell">
                            میز
                        </th>
                        <th scope="col"
                            class="sticky top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-right text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter lg:table-cell">
                            زمان
                        </th>
                        <th scope="col"
                            class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-right text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">
                            جمع هزینه
                        </th>
                        <th scope="col"
                            class="sticky top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-3 pr-4 backdrop-blur backdrop-filter sm:pr-6 lg:pr-8">
                            <span class="sr-only">انجام شد</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        {% include "dashboard/components/order_item.html" with order=order %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
