<li>
    <a href="{% url url_name %}"
       class="flex items-center hover:text-coffee hover:bg-gray-100/60 group gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold"
       :class="{ 'bg-coffee/60 text-white': {% if request.resolver_match.url_name == url_name %} true {% else %} false {% endif %} }"
       x-state:on="Current"
       x-state:off="Default">
        <i  class="bi {{ item_icon }} text-2xl flex group-hover:text-coffee {% if request.resolver_match.url_name == url_name %} text-white {% endif %}">
        </i>
        {{ item_name }}
    </a>
</li>
