<li>
    <a href="{% url url_name %}"
       class="text-white/70 flex items-center hover:text-coffee hover:bg-gray-100/60 group gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold {% if request.resolver_match.url_name == url_name %} bg-coffee-light text-white {% endif %}"
       >
        <i  class="bi {{ item_icon }} text-2xl flex group-hover:text-coffee {% if request.resolver_match.url_name == url_name %} text-white {% endif %}">
        </i>
        <p class="hidden lg:flex">{{ item_name }}</p>
    </a>
</li>
