<li>
    <ul role="list" class="space-y-1">
        {% include "dashboard/components/sidebar_item.html" with url_name="dashboard" item_name="داشبورد" item_icon="bi-house" %}
        {% include "dashboard/components/sidebar_item.html" with url_name="user_management" item_name="مدیریت کارکنان" item_icon="bi-person" %}
        {% include "dashboard/components/sidebar_item.html" with url_name="product_management" item_name="مدیریت کافه" item_icon="bi-folder" %}
        {% include "dashboard/components/sidebar_item.html" with url_name="order_management" item_name="مدیریت سفارشات" item_icon="bi-pie-chart" %}
    </ul>
</li>
<li class="mt-auto">
    {% include "dashboard/components/sidebar_item.html" with url_name="logout" item_name="خارج شدن" item_icon="bi-box-arrow-right" %}
</li>
