<tr>
    <td class="relative py-5 pr-6">
        <div class="flex gap-x-6">
            <div class="flex-auto">
                <div class="flex items-start gap-x-3">
                    <div class="text-sm font-medium leading-6 text-gray-900">1000000 تومان</div>
                    <div class="rounded-md py-1 px-2 text-xs font-medium ring-1 ring-inset text-white bg-coffee-light ring-coffee/20">
                        Paid
                    </div>
                </div>
                <div class="mt-1 text-xs leading-5 text-gray-500">10000 تومان مالیات</div>
            </div>
        </div>
        <div class="absolute bottom-0 right-full h-px w-screen bg-gray-100"></div>
        <div class="absolute bottom-0 left-0 h-px w-screen bg-gray-100"></div>
    </td>
    <td class="hidden py-5 pr-6 sm:table-cell">
        <div class="text-sm leading-6 text-gray-900">اسپرسو</div>
        <div class="mt-1 text-xs leading-5 text-gray-500">30000 تومان</div>
    </td>
</tr>
