{% load jalali_tags %}
<tr>
    <td class="whitespace-nowrap border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">
        {{ order.user.get_full_name }}
    </td>
    <td class="whitespace-nowrap border-b border-gray-200 hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">
        {{ order.table.name }}
    </td>
    <td dir="ltr" class="text-right whitespace-nowrap border-b border-gray-200 hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">
        {{ order.created_at|to_jalali:'تاریخ: %Y/%m/%d - زمان: %H:%M' }}
    </td>
    <td dir="ltr" class="text-right whitespace-nowrap border-b border-gray-200 hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">
        {{ order.reserved_for|to_jalali:'تاریخ: %Y/%m/%d - زمان: %H:%M' }}
    </td>
    <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">
        {{ order.total_price }}
        تومان
    </td>
    {% if order.is_active %}
        <td class="relative whitespace-nowrap border-b border-gray-200 py-4 pr-4 pl-3 text-right text-sm font-medium sm:pr-8 lg:pr-8">
            <div class="flex items-start justify-center">
                <div class="inline-flex rounded-md shadow-sm">
                    <a href="{% url 'done_order' order.id %}" 
                           class="relative inline-flex items-center rounded-r-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
                        انجام
                    </a>
                    <div x-data="{ open: false }"
                         class="relative -mr-px flex"
                         @click.away="open = false">
                        <button type="button"
                                class="relative items-center rounded-l-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10"
                                id="option-menu-button"
                                x-ref="button"
                                @click="open = !open">
                            <i class="bi bi-chevron-down flex"></i>
                        </button>
                        <div x-show="open"
                             x-transition:enter="transition ease-out duration-100"
                             x-transition:enter-start="transform opacity-0 scale-95"
                             x-transition:enter-end="transform opacity-100 scale-100"
                             x-transition:leave="transition ease-in duration-75"
                             x-transition:leave-start="transform opacity-100 scale-100"
                             x-transition:leave-end="transform opacity-0 scale-95"
                             class="absolute left-0 z-10 -mr-1 mt-2 w-56 origin-top-left rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                             x-ref="menu-item"
                             role="menu"
                             tabindex="-1">
                            <div class="py-1" role="none">
                                <a href="{% url 'select_item' order.id %}"
                                   class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900"
                                   >تغییر</a>
                                <a href="{% url 'delete_order' order.id %}"
                                   class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900"
                                   >حذف</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    {% else %}
        <td class="relative whitespace-nowrap border-b border-gray-200 py-4 pr-4 pl-3 text-right text-sm font-medium sm:pr-8 lg:pr-8">
            انجام شده
        </td>
    {% endif %}
</tr>
