{% load static %}

<!DOCTYPE html>
<html lang="per" dir="rtl" class="h-full">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Your meta description goes here." />
        <meta name="keywords" content="your, meta, keywords, go, here" />

        <title>
            {% block title %}
                Title
            {% endblock title %}
        </title>

        <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />

        <script defer
                src="{% static "node_modules/alpinejs/dist/cdn.min.js" %}"></script>

        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Vazirmatn">
        <style>
        body {
            font-family: "Vazirmatn", sans-serif;
        }
        </style>

        {% block extra_head %}
        {% endblock extra_head %}

    </head>

    <body class="h-full">
        {% block content %}
        {% endblock content %}
    </body>
    
</html>
