<!DOCTYPE html>
<html lang="per" dir="rtl" class="h-full">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                My Personal Portfolio
            {% endblock title %}
        </title>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Vazirmatn">
        <style>
        body {
            font-family: "Vazirmatn", sans-serif;
        }
        </style>
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body class="h-full">
        {% block content %}{% endblock content %}
    </body>
</html>
