<!DOCTYPE html>
<html lang="per" dir="rtl" class="h-full">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            My Personal Portfolio
        {% endblock %}
    </title>

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vazirmatn">
    <style>
        body {
            font-family: "Vazirmatn", sans-serif;
        }
    </style>

    {% block extra_head %}
    {% endblock %}

</head>
<body class="h-full">


{% block content %}
{% endblock %}

</body>
</html>
