{% extends "base.html" %}
{% load static %}
{% block title %}
    داشبورد
{% endblock title %}
{% block content %}
    <div class="bg-white">
        <div x-data="{ openSidebar: false }">
            <div x-show="openSidebar"
                 class="relative z-50 lg:hidden"
                 x-description="Off-canvas menu for mobile, show/hide based on off-canvas menu state."
                 x-ref="dialog"
                 aria-modal="true">
                <div x-show="openSidebar"
                     x-transition:enter="transition-opacity ease-linear duration-300"
                     x-transition:enter-start="opacity-0"
                     x-transition:enter-end="opacity-100"
                     x-transition:leave="transition-opacity ease-linear duration-300"
                     x-transition:leave-start="opacity-100"
                     x-transition:leave-end="opacity-0"
                     class="fixed inset-0 bg-gray-900/80"></div>
                <div class="fixed inset-0 flex">
                    <div x-show="openSidebar"
                         x-transition:enter="transition ease-in-out duration-300 transform"
                         x-transition:enter-start="translate-x-full"
                         x-transition:enter-end="-translate-x-0"
                         x-transition:leave="transition ease-in-out duration-300 transform"
                         x-transition:leave-start="-translate-x-0"
                         x-transition:leave-end="translate-x-full"
                         class="relative ml-16 flex w-full max-w-xs flex-1"
                         @click.away="openSidebar = false">
                        <div x-show="openSidebar"
                             x-transition:enter="ease-in-out duration-300"
                             x-transition:enter-start="opacity-0"
                             x-transition:enter-end="opacity-100"
                             x-transition:leave="ease-in-out duration-300"
                             x-transition:leave-start="opacity-100"
                             x-transition:leave-end="opacity-0"
                             class="absolute right-full top-0 flex w-16 justify-center pt-5">
                            <button type="button"
                                    class="text-white hover:text-gray-300"
                                    @click="openSidebar = false">
                                <i class="bi bi-x-lg "></i>
                            </button>
                        </div>
                        <!-- Sidebar component, swap this element with another sidebar if you like -->
                        <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-4">
                            <div class="flex h-16 shrink-0 items-center">
                                <img class="h-8 w-auto"
                                     width=""
                                     height=""
                                     src="https://tailwindui.com/img/logos/mark.svg?color=amber&amp;shade=950"
                                     alt="Your Company">
                            </div>
                            <nav class="flex flex-1 flex-col">
                                <ul role="list" class="flex flex-1 flex-col gap-y-7">
                                    {% include "dashboard/components/sidebar_items.html" %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Static sidebar for desktop -->
            <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
                <!-- Sidebar component, swap this element with another sidebar if you like -->
                <div class="flex grow flex-col gap-y-5 overflow-y-auto border-l border-gray-200 bg-white px-6 pb-4">
                    <div class="flex h-16 shrink-0 items-center">
                        <img class="h-8 w-auto"
                             width=""
                             height=""
                             src="https://tailwindui.com/img/logos/mark.svg?color=amber&amp;shade=900"
                             alt="Your Company">
                    </div>
                    <nav class="flex flex-1 flex-col">
                        <ul role="list" class="flex flex-1 flex-col gap-y-7">
                            {% include "dashboard/components/sidebar_items.html" %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="lg:pr-72">
                <div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
                    <button type="button"
                            class="-m-2.5 p-2.5 text-gray-700 lg:hidden"
                            @click="openSidebar = true">
                        <i class="bi bi-list text-2xl flex"></i>
                    </button>
                    <!-- Separator -->
                    <div class="h-6 w-px bg-gray-200 lg:hidden" aria-hidden="true"></div>
                    <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
                        <form class="relative flex flex-1" action="#" method="get">
                            <div class="flex items-center pointer-events-none absolute inset-y-0 left-0">
                                <i class="flex bi bi-search text-gray-400 hover:text-gray-500"></i>
                            </div>
                            <input id="search-field"
                                   class="block h-full w-full border-0 py-0 pl-8 pr-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm"
                                   placeholder="جستجو..."
                                   type="search"
                                   name="search">
                        </form>
                        <div class="flex items-center gap-x-4 lg:gap-x-6">
                            <!-- Separator -->
                            <div class="hidden lg:block lg:h-6 lg:w-px lg:bg-gray-200"
                                 aria-hidden="true"></div>
                            <!-- Profile dropdown -->
                            <div x-data="{ openDropdown: false }" class="relative">
                                <button type="button"
                                        class="-m-1.5 flex items-center p-1.5"
                                        id="user-menu-button"
                                        x-ref="button"
                                        @click="openDropdown = !openDropdown">
                                    <span class="hidden lg:flex lg:items-center">
                                        <span class="text-sm font-semibold leading-6 text-gray-900"
                                              aria-hidden="true">{{ user.get_full_name }}</span>
                                    </span>
                                    <img class="mr-4 h-8 w-8 rounded-full bg-gray-50"
                                         width=""
                                         height=""
                                         src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80"
                                         alt="">
                                </button>
                                <div x-show="openDropdown"
                                     x-transition:enter="transition ease-out duration-100"
                                     x-transition:enter-start="transform opacity-0 scale-95"
                                     x-transition:enter-end="transform opacity-100 scale-100"
                                     x-transition:leave="transition ease-in duration-75"
                                     x-transition:leave-start="transform opacity-100 scale-100"
                                     x-transition:leave-end="transform opacity-0 scale-95"
                                     class="absolute right-0 z-10 mt-2.5 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none"
                                     x-ref="menu-items"
                                     role="menu"
                                     aria-orientation="vertical"
                                     aria-labelledby="user-menu-button"
                                     tabindex="-1">
                                    <a href="#"
                                       class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-100"
                                       x-state:on="Active"
                                       x-state:off="Not Active"
                                       role="menuitem"
                                       tabindex="-1"
                                       id="user-menu-item-0"
                                       @click="openDropdown = false">پروفایل</a>
                                    <a href="{% url 'logout' %}"
                                       class="block px-3 py-1 text-sm leading-6 text-gray-900 hover:bg-gray-100"
                                       role="menuitem"
                                       tabindex="-1"
                                       id="user-menu-item-1"
                                       @click="openDropdown = false">خارج شدن</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <main class="py-10">
                    <div class="px-4 sm:px-6 lg:px-8">
                        {% block dashboard_content %}
                            <x-placeholder>
                            <div class="relative h-[576px] overflow-hidden rounded-xl border border-dashed border-gray-400 opacity-75">
                                <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
                                    <defs>
                                    <pattern id="pattern-1526ac66-f54a-4681-8fb8-0859d412f251" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                                    <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                                    </pattern>
                                    </defs>
                                    <rect stroke="none" fill="url(#pattern-1526ac66-f54a-4681-8fb8-0859d412f251)" width="100%" height="100%"></rect>
                                </svg>
                            </div>
                            </x-placeholder>
                        {% endblock dashboard_content %}
                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock content %}
