{% extends "dashboard.html" %}

{% block title %}
    مدیریت کاربران
{% endblock title %}

{% block dashboard_content %}
    <section class="card mt-3">
        <div class="card-header">
            <h4>مدیران</h4>
        </div>
        <div class="card-body p-4">
            {% if managers %}
            	<table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>نام کاربری</th>
                    <th>نام</th>
                    <th>ایمیل</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody>
                {% for manager in managers %}
                    <tr>
                        <td>{{ manager.id }}</td>
                        <td>{{ manager.username }}</td>
                        <td>{{ manager.first_name }} {{ manager.last_name }}</td>
                        <td>{{ manager.email }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'change_user' manager.id %}">تغییر</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'delete_user' manager.id %}">حذف</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h5 class="text-center">هیچ مدیری وجود ندارد.</h5>
            {% endif %}
        </div>
    </section>

    <!-- Employee Section -->
    <section class="card mt-3">
        <div class="card-header">
            <h4>کارمندان</h4>
        </div>
        <div class="card-body p-4">
            {% if employees %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>نام کاربری</th>
                        <th>نام</th>
                        <th>ایمیل</th>
                        <th>عملیات</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in employees %}
                        <tr>
                            <td>{{ e.id }}</td>
                            <td>{{ e.username }}</td>
                            <td>{{ e.first_name }} {{ e.last_name }}</td>
                            <td>{{ e.email }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="{% url 'change_user' e.id %}">تغییر</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'delete_user' e.id %}">حذف</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <h5 class="text-center">هیچ کارمندی وجود ندارد.</h5>
            {% endif %}
        </div>
    </section>


    <!-- Normal Section -->
    <section class="card mt-3">
        <div class="card-header">
            <h4>مشتریان</h4>
        </div>
        <div class="card-body p-4">
            {% if normals %}
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>نام کاربری</th>
                    <th>نام</th>
                    <th>ایمیل</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody>
                {% for n in normals %}
                    <tr>
                        <td>{{ n.id }}</td>
                        <td>{{ n.username }}</td>
                        <td>{{ n.first_name }} {{ n.last_name }}</td>
                        <td>{{ n.email }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'change_user' n.id %}">تغییر</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'delete_user' n.id %}">حذف</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h5 class="text-center">هیچ مشتری وجود ندارد.</h5>
            {% endif %}
        </div>
    </section>

    <!-- Add User Button -->
    <a class="btn btn-success mt-4" href="{% url 'add_user' %}">ساخت کاربر جدید</a>

{% endblock dashboard_content %}