{% extends "base.html" %}

{% block title %}
مدیریت کاربران
{% endblock title %}

{% block content %}

<h2>
    <a href="{% url 'add_user' %}">ساخت کاربر جدید</a>
</h2>

<h1>مدیرها</h1>
<ul>
    {% for manager in managers %}
        <li>
            {{ manager.username }} {{ manager.id }}
            <a href="{% url 'change_user' manager.id %}">تغییر</a>
            <a href="{% url 'delete_user' manager.id %}">حذف</a>
        </li>
    {% endfor %}
</ul>

<h1>کارمندان</h1>

<h1>کاربران</h1>
<ul>
    {% for normal in normals %}
        <li>
            {{ normal.username }} {{ normal.id }}
            <a href="{% url 'change_user' normal.id %}">تغییر</a>
            <a href="{% url 'delete_user' normal.id %}">حذف</a>
        </li>
    {% endfor %}
</ul>

{% endblock content %}